<div class="container">
  <p>
    app is working and its counter is: {{ counter.value }}
  </p>

  <p>
    <button type="button" (click)="triggerChanges()">detectChanges()</button>
    <button type="button" (click)="incrementValue()">incrementValue()</button>
  </p>

  <p>
    <input type="checkbox" (change)="toggleTimer()">{{ isTimerEnabled ? 'disable' : 'enable'}} auto increment
    <br/>
    <input type="checkbox" [(ngModel)]="markForCheck" [disabled]="!isTimerEnabled">{{ markForCheck ? 'disable' : 'enable'}} markForCheck()
  </p>
</div>