html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box !important;
}

.container {
  border: 1px dashed;
  padding: 16px;
  margin: 8px;
}

.children {
  display: flex;
  justify-content: space-around;
}

.children > * {
  width: calc(100% - 50%);
}
